<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>
    <div id="container">
        <p id="fyle">Fyle - Fetch GitHub Repos</p>
        <div id="input-container">
            <input (keyup)="onKey($event)" id="user-input" placeholder="Enter GitHub username" type="text">
            <button (click)="next('display-repos')" class="fa-solid fa-angle-right round next">&#8250;</button>
        </div>
    </div>

</body>

</html>